@keyframes text-animation {
  from {
    transform: translateX(-100vw) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.root {
  padding: 0.3rem 1rem;
  margin-bottom: 0.3rem;
}

.root__content,
.root__content__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.root__content__text {
  font-size: var(--text-md);
  padding-right: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.root__content__text--animated {
  animation: text-animation 1s;
}

.root__content__text__issue {
  text-decoration: none;
}

.root__content__text__issue--empty {
  font-size: var(--text-sm);
  color: var(--muted-color);
  font-style: italic;
}

.root__content__link__issue {
  text-decoration: underline;
  background-color: var(--primary-color);
  display: inline-block;
  transition: transform 0.2s ease;
  border-radius: 4px;
  padding: 0.2rem 0.4rem;
}

.root__content__link__issue:hover {
  transform: scale(1.04);
}
